:root{
  --font-color: #dce0e8;
  --base-color: #0f051c;
  --skeleton-dark: #160829;
  --skeleton-light: #b1b7c2;
  --primary-color: 136, 57, 239;
  --secondary-color: 210, 15, 57;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-color), 0.40)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--secondary-color))
}

input{
  color: var(--font-color)!important;
  background-color: var(--base-color)!important;
  border: 1px solid rgb(var(--primary-color))!important;

}
input::placeholder{
  color: var(--font-color)!important;
}
input:focus{
  color: var(--font-color)!important;
  box-shadow: none!important;
  border: 1px solid rgb(var(--primary-color))!important;
}

.primaryColor{
  color: rgb(var(--primary-color));
}
.secondaryColor{
  color: rgb(var(--secondary-color));
}

.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  color: var(--font-color);
  transform: translate(0%,-50%);
}
.loading svg{
  fill: var(--font-color)!important;
}
body{
  background-color: var(--base-color) !important;
  color: var(--font-color)!important;
  height: 100%!important;
  word-break: break-word;
  margin: 0;
  padding: 0;
}
hr{
  width: 75%;
}
.post{
  width: 100%!important;
  border-radius: 25px;
  position: relative;
  z-index: 1;

}
a{
  text-decoration: none!important;
  color: var(--font-color)!important;
}
.post-info{
  background-color: var(--base-color);
  border-radius: 30px;
  border: 1px solid #311d4bb2;
  transition: all 400ms ease-in-out;

}
.post-info:hover{
  
  background-color: rgb(var(--primary-color));
  color: var(--base-color)!important;
  box-shadow: 0px 0px 40px rgba(var(--primary-color), 0.3);
  
  
}

.post::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(var(--primary-color), 0.4) 0%, rgba(var(--secondary-color), 0.3) 100% );
  transform: translate3d(0px, 0px, 0) scale(0.80);
  filter: blur(90px);
}

.post img{
  border-radius: 50%;
}

nav{
  background-color: transparent!important;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 5!important;
}
.sideNav{
  background-color: var(--base-color);
  height: 100%;
  position: fixed;
  margin-right: 80px;
  z-index: 3;
}

.items{
  background-color: var(--base-color)!important;
  overflow-x: hidden;
  height: 100%;
  width: 60px;
  white-space: nowrap;
}
.items a{
  text-decoration: none;
  color: var(--font-color);
}
.main{
  margin-left: 100px!important;
}
.searchbar{
  position: relative;
  background-color: var(--base-color)!important;
  border-top-left-radius: 35px!important;
  border-bottom-left-radius: 35px!important;
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border: none!important;

}
.search{
  position: relative;
}
.search input:focus{
  border: none!important;
}
.btn-primary{
  border: none!important;
  background-color: rgb(var(--primary-color))!important;
}
      
.search .btn{
  background-color: var(--base-color)!important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 35px!important;
  border-bottom-right-radius: 35px!important;
  z-index: 3;
}
.search svg{
  fill: var(--font-color)!important;
}
.search::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-45deg, rgb(var(--primary-color)) 0%, rgb(var(--secondary-color)) 100%)!important;
  margin: -2px;
  border-radius: 35px;

}
.welcome{
  height: auto;
  
  
}
.welcome span{
  font-weight: bolder!important;
  font-size: 6vw!important;
  background: rgb(var(--font-color));
  background: linear-gradient(120deg, var(--font-color) 0%, rgb(116, 116, 116) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome .disDev{
  background: rgb(203,203,203);
  background: linear-gradient(120deg, rgb(var(--primary-color)) 0%, rgb(var(--secondary-color)) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.joinBtn{
  background-color: var(--base-color)!important;
  border: none!important;
  position: relative;
  border-radius: 18px!important;
  height: 50px;
  border: 2px solid rgb(var(--primary-color))!important;
  color: var(--font-color)!important;
  z-index: 1;
  
}


.joinBtn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(var(--primary-color),0.4) 0%, rgba(var(--secondary-color),0.4) 100% );
  transform: translate3d(0px, 10px, 0) scale(0.95);
  filter: blur(20px);
  opacity: 1;
  border-radius: inherit;
}


.joinBtn::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.user{
  background-color: var(--base-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.laMem{
  overflow-x: hidden;
  height: 300px;
}
.card{
  border: none!important;
  background-color: transparent!important;
  position: relative;
  z-index: 1;

}
.card::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(var(--primary-color), 0.5) 0%, rgba(var(--secondary-color), 0.5) 100% );
  transform: translate3d(0px, 0px, 0) scale(0.85);
  filter: blur(90px);
}

.card-img-top{
  color: rgba(255, 255, 255, 0)!important;
  background-color: transparent!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px);
}

.card-img-top img{
  width: 100%;
  height: 200px;
  background-color: var(--base-color)!important;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-body{

  color: var(--font-color)!important;
  background-color: var(--base-color)!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0)!important;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px!important;
  
}

.border-list{
  border-right: 3px solid rgb(var(--secondary-color));
}
.notifications{
  position: relative;
  cursor: pointer;

  
  
}
.notification-box{
  position: absolute;
  top: 100%;
  transform: translate(-70%,4%);
  width: 300px;
  height: 450px;
  padding: 20px;
  display: none;
  background-color: var(--base-color);
  border: 1px rgb(var(--primary-color)) solid;
  border-radius: 20px;
  overflow-y: scroll;
  z-index: 2;

}
.notification-box::-webkit-scrollbar{
  width: 0px;
}
.notification-box a{
  text-decoration: none;
  color: white;
}
.notification-box img{
  border-radius: 50%;
}


.notiNum{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--secondary-color));
  border-radius: 50%;
}
.nreadnot{
  border: 2px solid rgb(var(--primary-color));
}

.nreadnot::after{
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #d20f39;
  position: relative;
  filter: drop-shadow(0px 0px 10px #d20f39);
  flex-shrink: 0;

}

.singleNotif{
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 70px;
  border-radius: 30px;
  background-color: var(--base-color);

}



.comments{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
  position: relative;
  background-color: var(--base-color);
}
.comments::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgb(var(--primary-color), 0.55) 0%, rgb(var(--secondary-color), 0.55) 100% );
  transform: translate3d(0px, 20px, 0) scale(0.90);
  filter: blur(90px);
}
.comments p img{
  width: 30%;
}

.newComment{
  position: relative;
}
.newComment textarea{
  width: 100%;
  background-color: var(--base-color)!important;
  border: none!important;
  height: 150px;
  position: relative;
  padding: 15px;
  color: white;
  border-radius: 30px;
}
.newComment textarea:focus{
  border: none!important;
  box-shadow: none!important;
  color: white;
}

.newComment textarea::placeholder{
  color: #8b8b8b!important;
}
.newComment button{
  background-color: rgb(var(--primary-color))!important;
  border-radius: 30px!important;

}
.field{
  box-shadow: 0px 0px 30px var(--base-color);
  border-radius: 30px;
  padding: 10px;
}


.newPost{
  background-color: var(--base-color);
  position: relative;
}
.newPost::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgb(var(--primary-color), 0.55) 0%, rgb(var(--secondary-color), 0.55) 100% );
  transform: translate3d(0px, 20px, 0) scale(0.90);
  filter: blur(90px);
}

.singlePost{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--base-color);
  position: relative;
  padding: 40px;
  color: var(--font-color);
  width: 100%!important;
  
}

.singlePostContent{
  width: 100%!important;
  background-color: var(--base-color);
  padding: 15px;

  border-radius: 20px;

}
.singlePostContent p img{
  width: 20%;
}
.singlePost::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgb(var(--primary-color), 0.55) 0%, rgb(var(--secondary-color), 0.55) 100% );
  transform: translate3d(0px, 20px, 0) scale(0.90);
  filter: blur(90px);
}

.w-md-editor{
  background-color: var(--base-color)!important;
  border: none!important;
  color: var(--font-color)!important;
}
.w-md-editor-show-live{
  border: none!important;
  

}
.wmde-markdown p{
  color: var(--font-color)!important;
}
.w-md-editor-preview *{
  background-color: var(--base-color);

}


.w-md-editor-toolbar{
  background-color: var(--base-color)!important;
  color: var(--font-color);
}

.w-md-editor-toolbar svg{
  color: var(--font-color);
}


.admin{
  margin-right: 5%;
}

.adminList{

  background-color: var(--base-color);
  border-radius: 10px;
  border: 1px solid rgb(var(--primary-color));
  filter: brightness(0.8);
  
}
.adminList img{
  height: 100%;
  width: 65px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-item .active{
  background-color: rgb(var(--primary-color), 0.55)!important;
  border: 1px solid rgb(var(--primary-color))!important;
  border-radius: 30px!important;
  color: var(--font-color)!important;
}
.nav-link{
  color: var(--font-color)!important;
}
.nav-tabs{
  border: none!important;
}

.aDashTit{
  font-size: 5vw;
  background: rgb(203,203,203);
  background: linear-gradient(120deg, rgb(var(--primary-color)) 0%, rgb(var(--secondary-color)) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Stats select{
  border-radius: 30px!important;
  background-color: var(--base-color)!important;
  color: var(--font-color);
}
.stat{
  background-color: rgba(var(--primary-color), 0.25);
  padding: 25px;
  border-radius: 20px;
  color: var(--font-color);
}



.MuiPagination-ul button{
  color: var(--font-color)!important;
  border: 1px solid rgba(255, 255, 255, 0.411);
}

.icon svg{
  background-color: rgba(var(--secondary-color), 0.25);
  padding: 5px;
  border-radius: 50%;
  
}


.profileHead{
  background-color: var(--base-color);
  border-radius: 25px;
  position: relative;
  border-bottom: none;
}

.profileHead::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(var(--primary-color), 0.55) 0%, rgba(var(--secondary-color), 0.55) 100% );
  transform: translate3d(0px, 20px, 0) scale(0.90);
  filter: blur(90px);
}

.profileHead img{
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgba(var(--primary-color), 0.25);
  background-color: var(--base-color);
  position: relative;
  z-index: 1;
  
  
}
.profileHead .info{
  position: relative;
  top: 70px;
}
.profileHead ul{
  background-color: rgba(var(--primary-color), 0.15);
  
}

.table td{
  background: transparent!important;
  color: var(--font-color);
  padding: 30px;

  
}

.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 50px;
  height: 26px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--font-color)), color-stop(50%, var(--base-color))) no-repeat;
  background: -o-linear-gradient(left, var(--font-color) 50%, var(--base-color) 50%) no-repeat;
  background: linear-gradient(to right, var(--font-color) 50%, var(--base-color) 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
  border: 1px solid var(--font-color);
}

.theme-checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--font-color)), color-stop(50%, var(--base-color))) no-repeat;
  background: -o-linear-gradient(left, var(--font-color) 50%, var(--base-color) 50%) no-repeat;
  background: linear-gradient(to right, var(--font-color) 50%, var(--base-color) 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 20px - 2px);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
  
}

.setting{
  color: var(--font-color);
}



.setting input{
  background-color: var(--base-color)!important;
  border: 1px solid rgb(var(--primary-color));
  border-radius: 30px;
}



.postCards .card-body{
  border-radius: 30px!important;
  overflow: hidden;
}
.postCards h2{
  overflow-y: scroll;
  height: 70px;
}

.userCards{
  position: relative;
  border: 1px solid rgb(var(--primary-color));
  border-radius: 25px;
}
.userCards img{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}



.postCards img{
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}


.font5{
  font-size: 4.5vw!important;
  font-weight: bolder!important;
  background: rgb(var(--font-color));
  background: linear-gradient(120deg, var(--font-color) 0%, rgb(116, 116, 116) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.registre{
  position: relative;
  background-color: var(--base-color);
  
}
.registre .right-box{
  
  color: var(--font-color)!important;
}
.registre::before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(var(--primary-color), 0.55) 0%, rgba(var(--secondary-color), 0.55) 100% );
  transform: translate3d(0px, 20px, 0) scale(0.90);
  filter: blur(90px);
}
.registre button{
  background-color: rgba(var(--primary-color))!important;
}

.confirmation{
  padding: 30px;
  background: rgb(var(--base-color), 0.40)!important;
  border-radius: 16px!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
  border: 1px solid rgba(255, 255, 255, 0.3)!important;
  
}
.confirmation div{
  display: flex;
  justify-content: center;
}
.confirmation button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin: 10px;
  background-color: rgb(var(--primary-color));
  border-radius: 30px;
}


.accordion{
  background-color: transparent!important;
  color: var(--font-color)!important;
  border: none!important;
  box-shadow: none!important;
}
.accordion svg{
  fill: var(--font-color)!important;
}

.alertDanger{
  background-color: rgb(var(--secondary-color), 0.40);
  color: var(--font-color);
}
.snackbar div{
  background: rgb(var(--base-color), 0.40)!important;
  border-radius: 16px!important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
  border: 1px solid rgba(255, 255, 255, 0.3)!important;

}
.snackbar div div{
  background-color: transparent!important;
  border: none!important;
  color: var(--font-color)!important;
}


.breadcrumbs{
  box-shadow: none!important;
  font-size: 16px;
  z-index: 0!important;
}
.MuiBreadcrumbs-separator{
  color: var(--font-color)!important;
}